body {
    font-family: "Playpen Sans", cursive;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #bdedfd;
    color: #ffffff;
}

.sky {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}


.sky__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.sky__phase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.sky__dawn {
    background: linear-gradient(0deg, rgba(254, 215, 102, 1), rgba(205, 237, 246, 1));
}

.sky__noon {
    background: linear-gradient(0deg, rgba(205, 237, 246, 1), rgba(36, 123, 160, 1));
}

.sky__dusk {
    background: linear-gradient(0deg, rgba(255, 32, 110, 1), rgba(10, 0, 94, 1));
}

.sky__midnight {
    background: linear-gradient(0deg, rgba(2, 0, 20, 1), rgba(10, 0, 94, 1));
}

.sun, .moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.sun {
    background-color: rgb(254, 215, 102);
    box-shadow: 0 0 14px 14px rgba(254, 216, 102, 0);
}

.moon {
    background-color: #fff;
    box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
    opacity: 0;
}

@keyframes sunrise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes midday {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(450deg);
    }
}

@keyframes midnight {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(540deg);
    }
}

@keyframes dusk {
    from {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(630deg);
    }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
}


#toggle-sunrise, #toggle-midday, #toggle-dusk, #toggle-midnight {
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 5px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


/* Sunrise */
#toggle-sunrise {
    background: linear-gradient(0deg, rgba(254, 215, 102, 1), rgba(205, 237, 246, 1));
}

#toggle-sunrise:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#toggle-sunrise:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }





/* Midday */
#toggle-midday{
    background: linear-gradient(0deg, rgba(205, 237, 246, 1), rgba(36, 123, 160, 1));
}

#toggle-midday:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  #toggle-midday:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }



  /* Dusk */
  #toggle-dusk{
    background: linear-gradient(0deg, rgba(255, 32, 110, 1), rgba(10, 0, 94, 1));
}

#toggle-dusk:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  #toggle-dusk:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  /* Midnight */
  #toggle-midnight{
    background: linear-gradient(0deg, rgba(2, 0, 20, 1), rgba(10, 0, 94, 1));
}

#toggle-midnight:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }


  #toggle-midnight:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }





.togglebtns{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}